/* GENERAL STYLE */
* {
  font-family: Verdana, Tahoma, sans-serif;
  box-sizing: border-box;
}

p {
    font-size: 1em;
    color: #382604;
    margin: 0.5em 0;
  }

body {
    background-color: beige;
    margin: 0;
    padding: 0;
  }

/* HEADINGS */
h1 {
    text-align: center;
    font-size: 2em;
    color: chocolate;
    margin: 0.5em 0;
  }

h2 {
    text-align: center;
    font-size: 1.5em;
    color: chocolate;
    margin: 0.5em 0;
  }

h3 {
    text-align: center;
    font-size: 1.2em;
    color: chocolate;
    margin: 0.5em 0;
  }

/* HYPERLINKS */
a {
    color: #000;
    text-decoration: none;
  }

a:hover {
    font-weight: bold;
    color: black;
  }

/* LISTS */
ul {
    text-align: center;
    flex-direction: column;
    align-items: center;
    list-style-type: square;
    list-style-position: inside;
    color:cadetblue;
  }

li {
    margin: 0.5em 0;
    text-align: left;
    list-style-position: inside;
  }

/* IMAGES */
img {
    display: block;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
  }

/* CLASSES AND ID's */
.container {
  display: block;
  align-items: center;
  margin: 4em 4em;
  padding: 5px;
}

.description {
    text-align: left;
    margin: 4em 4em;
    padding: 5px;
  }

.back-button {
    display: block;
    margin: 0 auto;
    padding: 10px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
    text-decoration: none;
    color: #333;
  }